// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#tag_new {
	width: 200px;
	padding: 10px;
	border: 1px solid grey; 
  margin: 0;
}

div#tag_form {
	width: 200px;
	padding: 10px;
	border: 1px solid grey; 
  margin: 0;
}
